<navigation></navigation>

<!-- Begin page content -->
<router-outlet></router-outlet>

<footer class="footer">
  <div class="container">
    <p class="text-muted">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      <a href="https://github.com/gouarfig/homenest.git" target="_new">HomeNest Project v{{appConfig.Version}}</a>
      &nbsp; &nbsp;
      <span class="fa fa-sun-o" aria-hidden="true"></span>
      Weather data by <a href="http://openweathermap.org" target="_new">OpenWeatherMap</a>
      &nbsp; &nbsp;
      <span class="fa fa-smile-o" aria-hidden="true"></span>
      </p>
  </div>
</footer>